<div class="line">
  <mat-form-field appearance="outline">
    <mat-label>Sorted</mat-label>
    <mat-select #list (selectionChange)="sort(list.value)">
      <mat-option value = "0">from A to Z</mat-option>
      <mat-option value = "1">from Z to A</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Search</mat-label>
    <input matInput placeholder="Search" #input
           (keyup.enter)="search(input.value)"
           [(ngModel)]="searchStr">
    <mat-icon matSuffix (click)="search(input.value)">search</mat-icon>
  </mat-form-field>
</div>
<div >
  <form class="line" [formGroup]="form" (ngSubmit)="addUser()">
    <mat-form-field class="item" appearance="outline">
      <mat-label>User name</mat-label>
      <input matInput placeholder="User name" formControlName="username">
    </mat-form-field>

    <mat-form-field class="item" appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput placeholder="Name" formControlName="name">
    </mat-form-field>


    <mat-form-field class="item" appearance="outline">
      <mat-label>User role</mat-label>
      <mat-select formControlName="role">
        <mat-option value = "Admin">Admin</mat-option>
        <mat-option value = "User">User</mat-option>
      </mat-select>
    </mat-form-field>
    <button class="btn" mat-raised-button color="primary" [disabled]="form.invalid">Add user</button>
  </form>
</div>
<div>

</div>
<div *ngIf="usersList.length > 0; else empty">
  <mat-selection-list #users (selectionChange)="selectItem(users.selectedOptions.selected)">
    <mat-list-option
      *ngFor="let user of usersList | search:searchStr; let i = index"
      [value]="user"
      [ngClass]="{'gray': i%2}">
      <div>
        <span class="item">{{user.username}}</span>
        <span class="item">{{user.name}}</span>
        <span *ngIf="user.role === 'Admin'" class="item">{{user.role}}</span>
      </div>
    </mat-list-option>
  </mat-selection-list>
  <div class="line footer">
    <div>
      Users selected: {{users.selectedOptions.selected.length}}
    </div>
    <div>
      <button class="btn" mat-raised-button color="warn" (click)="deleteUsers()">Remove user</button>
    </div>

  </div>
</div>


<ng-template #empty>
  <div>Users not found...</div>
</ng-template>
