mat-selection-list {
  margin-bottom: 12px;
}
.gray {
  background-color: #ddd;
}
.item {
  width: 150px;
  display: inline-block;
}
.line {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 20px;
}
.item {
  width: 180px;
}
.btn {
  height: 50px;
}
.footer {
  align-items: center;
}
