/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

app-user-list {
  width: 80%;
}
mat-form-field.mat-form-field-appearance-outline > .mat-form-field-wrapper {
  margin: 0;
}
